
// -----FONTS-----------
$title-font: 'Bebas Neue', cursive;
$body-font: 'Varela Round', sans-serif;
$button-font: 'Dancing Script', cursive;
$a-font:'Kanit', sans-serif;
// -----FONTS-----------



// ----------COLORS--------------
$main-color: #000;
$details-color:#fff;
$second-color:#ff7c00;
// ----------COLORS--------------


// ---------SPACE---------------
$common-padding: 1em;
$midle-padding: 2em;
$high-padding: 4em;
// ---------SPACE---------------


// ---------FONT SIZE------------
$big-titles: 2.3rem;
$medium-titles: 1.6rem;
$small-titles: 1.3rem;
// ---------FONT SIZE------------


