@import "variables";


// ------------Generales-----------------
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    background-color: $main-color;
    color: $details-color;
    scroll-behavior:smooth;
}

.logo{
    height: 70px;
    width: 70px;
    border-radius: 40px;
    cursor: pointer;
}

.logo:hover{
    transform:scale(1.1);
    transition:all ease-in-out 0.5s ;
}

button {
    color:$second-color ;
    background-color:$main-color;
    width: 80px;
    border-radius: 30px;
    border: $second-color solid 2px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    font-family: $button-font;
}

button:hover {
    transform:scale(1.1);
    transition:all ease-in-out 0.5s ;
}

strong {
    color: $second-color;
    font-weight: bold;
}

a {
    font-family: $a-font;
    font-weight: bold;
    text-decoration: none;
    color: $second-color;
    position: relative;
    width: fit-content;
}
// -----------------Generales---------------------


// --------------------NavBar/Header---------------------------
.navbar a:after {
    content: "";
    position: absolute;
    background-color: $second-color;
    height: 3px;
    width: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: 0.4s;
}

.navbar a:hover::after {
    width: 100%;
}

a:hover {
    color: $details-color;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header .container {
    display: flex;
    
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar a {
    padding: $common-padding;
}

// --------------------NavBar/Header---------------------------


// ---------------------HERO------------------------------------
#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../MULTIMEDIA/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: $common-padding;
    align-items: center;
}

#hero h1 {
    font-size: 3rem;
    font-family: $title-font;
}



#hero p {
    font-size: 1.10rem;
}

.flecha-hero {
    font-size: 3rem;
    transform:translateY($high-padding);
}
// ---------------------HERO------------------------------------


// ----------------CARDS INDEX------------------------------

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $midle-padding $common-padding;
    min-height: 100vh;
}
.carta {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 400px;
    margin-top: $midle-padding;
    padding: $common-padding;
    border-radius: 20px;
    overflow: hidden;
    background: $main-color;
}

.carta::before {
    content: "";
    position: absolute;
    width: 150px ;
    height: 150%;
    background: linear-gradient($second-color, $details-color);
    animation: animate 5s linear infinite;
}

.carta::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: $main-color;
    border-radius: 20px;
    
    
}
@keyframes animate  {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.container-cards .carta h3 {
    font-family: $title-font;
    font-size: 1.5rem;
    z-index: 10;
    position: relative;
    color: $details-color;
}

.container-cards .carta button {
    margin-top: $common-padding;
    z-index: 10;
    position: relative;
}

.container-cards .carta p {
    z-index: 10;
    position: relative;
    color: $details-color;
}


// ----------------CARDS INDEX------------------------------