html{
    scroll-behavior: smooth;
}

.logo{
    height: 70px;
    width: 70px;
    border-radius: 40px;
    cursor: pointer;
}

.logo:hover{
    transform:scale(1.1);
    transition:all ease-in-out 0.5s ;
}

