*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Varela Round", sans-serif;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth; }

.logo {
  height: 70px;
  width: 70px;
  border-radius: 40px;
  cursor: pointer; }

.logo:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.5s; }

button {
  color: #ff7c00;
  background-color: #000;
  width: 80px;
  border-radius: 30px;
  border: #ff7c00 solid 2px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  font-family: "Dancing Script", cursive; }

button:hover {
  transform: scale(1.1);
  transition: all ease-in-out 1ms; }

strong {
  color: #ff7c00;
  font-weight: bold; }

a {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ff7c00;
  position: relative;
  width: fit-content; }

.navbar a:after {
  content: "";
  position: absolute;
  background-color: #ff7c00;
  height: 3px;
  width: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: 0.4s; }

.navbar a:hover::after {
  width: 100%; }

a:hover {
  color: #fff; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: #fff 1px solid; }

header .container {
  display: flex;
  justify-content: center; }

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.navbar a {
  padding: 1em; }

#hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../MULTIMEDIA/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 1em;
  align-items: center;
  border-bottom: #fff 1px solid; }

#hero h1 {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive; }

#hero p {
  font-size: 1.10rem; }

.flecha-hero {
  font-size: 3rem;
  transform: translateY(4em); }

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em;
  min-height: 100vh; }

.carta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 400px;
  margin-top: 2em;
  padding: 1em;
  border-radius: 20px;
  overflow: hidden;
  background: #000; }

.carta::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150%;
  background: linear-gradient(#ff7c00, #fff);
  animation: animate 5.5s linear infinite; }

.carta::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #000;
  border-radius: 20px; }

@keyframes animate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.container-cards .carta h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  z-index: 10;
  position: relative;
  color: #fff; }

.container-cards .carta button {
  margin-top: 1em;
  z-index: 10;
  position: relative; }

.container-cards .carta p {
  z-index: 10;
  position: relative;
  color: #fff; }

#tuPaginaWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../MULTIMEDIA/hero2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 400px 750px;
  border-bottom: #fff 1px solid; }

#tuPaginaWeb h2 {
  font-family: "Bebas Neue", cursive;
  padding-bottom: 4em; }

#tuPaginaWeb h3 {
  padding-top: 2em;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem; }

footer {
  display: flex;
  align-items: center;
  flex-direction: column; }

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

footer h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem; }

footer a {
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem; }

footer i {
  color: #ff7c00; }

.icontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.3rem; }

footer p {
  font-size: 0.7rem;
  transform: translateX(100px);
  margin-bottom: 0;
  padding-bottom: 0; }

.btn-agregar {
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  border: #ff7c00 solid 2px;
  font-weight: bold;
  text-align: center;
  font-family: "Dancing Script", cursive; }

#presupuesto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#pag-disponibles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.pagina-presupuesto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: #ff7c00 2px solid;
  width: 200px;
  border-radius: 1em;
  margin-top: 2em;
  text-align: center; }

.pagina-presupuesto h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  margin-top: 0; }

.pagina-presupuesto:hover {
  transform: scale(1.1);
  transition: all ease-in-out 1ms; }

.modal-cont {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden; }

.modal {
  background-color: #ff7c00;
  color: #fff;
  width: 300px;
  min-height: 300px;
  border-radius: 1em;
  padding: 1em; }

.modal h4 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem; }

.close-carrito {
  color: #fff;
  border: #fff 2px solid; }

.carrito {
  margin-bottom: 1em; }

.modal-cont--abierto {
  opacity: 1;
  visibility: visible; }
